html {
    scroll-behavior: smooth;
}

//for sticky footer
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

//styles
* {
    font-family: var(--font-main);
    font-weight: 400;
    color: var(--main-font-color);
}

h1 {
    font-size: 130px;
    font-weight: 600;
    line-height: 156px;
}

//content 1800px
header,
footer,
section {
    padding: 0 calc(50% - 900px);
}