html {
    scroll-behavior: smooth;
}

//styles
* {
    font-family: var(--font-main);
    font-weight: 400;
    color: var(--main-font-color);
}

h1 {
    font-size: 140px;
    font-weight: 600;
    line-height: 156px;
}

h2 {
    font-size: 85px;
    line-height: 100px;
}

//content 1800px
header,
footer,
section {
    padding: 0 calc(50% - 900px);
}