.preview {
    padding: unset;
    margin-bottom: 20px;
}

.preview-title {
    margin-left: 80px;
    margin-bottom: 20px;
}

.preview__img-container {
    height: 805px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./../../img/fintechHallImg.png');
    position: relative;
}

.preview__img-container__apply {
    position: absolute;
    top: 52px;
    left: 80px;
    border-radius: 92px;
    width: fit-content;
    font-size: 26px;
    line-height: 32px;
    background-color: var(--accent-color);
    padding: 8px 17px 8px 25px;
}

.preview__img-container__list {
    position: absolute;
    right: 0;
    top: -110px;
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: absolute;
        top: 120px;
        right: 130px;
        li {
            font-size: 26px;
            line-height: 26px;
        }
    }
    &::after {
        content: url('./../../img/rects/previewRectImg.png');
    }
}

.place {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 30px;
}

.place__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 51px;
    max-width: 650px;
}

.place-titlespan {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        min-height: 110%;
        bottom: -5px;
        left: -17px;
        min-width: 110%;
        padding: 5px 17px;
        border: 2px solid var(--main-font-color);
        border-radius: 67px;
    }
}

.place-text {
    font-size: 45px;
    line-height: 60px;
}

.place__benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;
}

.place__benefits-list__item {
    padding: 20px 36px;
    font-size: 17px;
    line-height: 23px;
    border: 1px solid var(--main-font-color);
    border-radius: 34px;
}

.partners {
    margin: 438px 0 400px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work {
    padding: 0;
    background-image: url('./../../img/manInGlassImg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 128px;
    p {
        color: var(--primary-font-color);
        max-width: 700px;
        font-size: 45px;
        line-height: 55px;
    }
}

.fintechImgs {
    padding: 0;
}

.fintechImgs-img1,
.fintechImgs-img2 {
    height: 100vh;
    width: 100%;
}

.bookYourPlace {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 180px 0 70px;
}

.bookYourPlace__text-container {
    position: relative;
    &::after {
        content: url('./../../img/diagonalRightDownArrow.svg');
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 250px;
        transform: translate(100%);
    }
}

.bookYourPlace__text-container__title {
    font-size: 47px;
    line-height: 76px;
    span {
        position: relative;
        top: -30px;
        font-size: 160px;
        line-height: 153px;
    }
}

.bookYourPlace__text-container__price--price {
    font-size: 35px;
    line-height: 24px;
    margin-bottom: 40px;
    sup {
        font-size: 55px;
        line-height: 24px;
    }
}

.bookYourPlace__text-container__price--aditional {
    font-size: 17px;
    line-height: 24px;
}

.bookYourPlace__text-container__button {
    position: relative;
    border: 1px solid var(--accent-color);
    border-radius: 42px;
    background: var(--accent-color);
    transition: all 0.2s;
    font-size: 45px;
    line-height: 50px;
    padding: 10px 40px;
    display: flex;
    column-gap: 23px;
    align-items: center;
    &:hover {
        background-color: #e6b332;
    }
    &:active {
        background-color: #cea53d;
        bottom: -2px;
    }
    &::after {
        position: relative;
        top: -3px;
        content: url('./../../img/blackRightArrow.svg');
    }
}

.bookYourPlace__img-container {
    transform: rotateY(180deg);
    display: flex;
    img {
        position: relative;
        right: 100px;
        bottom: -70px;
    }
}

.operatedBy {
    display: flex;
    column-gap: 80px;
    margin-bottom: 140px;
}

.operatedBy__fintech {
    max-width: 130px;
}

.operatedBy__fintech-text {
    margin-top: 35px;
    font-size: 15px;
    line-height: 17px;
}

.operatedBy-preTitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.operatedBy-text {
    font-size: 18px;
    line-height: 26px;
    max-width: 550px;
    margin-top: 16px;
}

.operatedBy-img {
    transform: scale(140%);
    position: relative;
    left: 18px;
}

.operatedBy__companies {
    display: flex;
    column-gap: 120px;
    margin-top: 40px;
}

.operatedBy__companies-financers,
.operatedBy__companies-supporters {
    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    div {
        display: flex;
        column-gap: 120px;
        img {
            transform: scale(140%);
        }
    }
}

@media(max-width:1200px) {
    .bookYourPlace__text-container__title {
        font-size: 41px;
        span {
            font-size: 153px;
            line-height: 153px;
        }
    }
    .bookYourPlace {
        justify-content: unset;
    }
    .bookYourPlace__text-container__button {
        font-size: 39px;
    }
    .bookYourPlace__img-container {
        position: absolute;
        right: 0;
        transform: rotateY(0);
        z-index: -1;
        img {
            position: unset;
            transform: scale(70%);
        }
    }
    .operatedBy__companies {
        column-gap: 80px;
    }
    .operatedBy__companies-financers,
    .operatedBy__companies-supporters {
        p {
            font-size: 14px;
        }
        div {
            column-gap: 40px;
            img {
                transform: scale(100%);
            }
        }
    }
}

@media(max-width:900px) {
    .bookYourPlace__text-container::after {
        display: none;
    }
    .bookYourPlace {
        justify-content: center;
    }
    .bookYourPlace__img-container {
        display: none;
    }
    .operatedBy__companies {
        flex-direction: column;
    }
    .operatedBy {
        column-gap: 40px;
        margin-bottom: 100px;
    }
    .partners {
        margin: 200px 0;
    }
    .partners__list {
        flex-wrap: wrap;
        gap: 30px;
    }
    .fintechImgs-img1,
    .fintechImgs-img2 {
        height: auto;
    }
    .preview__img-container__apply {
        position: absolute;
        top: 22px;
        left: 30px;
        font-size: 20px;
        line-height: 26px;
        padding: 6px 14px 6px 21px;
    }
    .place-text {
        font-size: 30px;
        line-height: 40px;
    }
    .work {
        padding: 60px 0;
        height: auto;
        row-gap: 60px;
        p {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

@media(max-width:600px) {
    .preview__img-container__list {
        &::after {
            display: none;
        }
        ul {
            border-radius: 100px 0 100px 0;
            padding: 30px 40px;
            background-color: var(--accent-color);
            top: 130px;
            right: 0px;
            li {
                font-size: 20px;
                line-height: 12px;
            }
        }
    }
    .operatedBy__companies-financers,
    .operatedBy__companies-supporters {
        div {
            flex-wrap: wrap;
            gap: 10px;
        }
    }
    .bookYourPlace__text-container__price--price {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .bookYourPlace__text-container__title span {
        font-size: 120px;
        line-height: 120px;
    }
}

@media (max-width:400px) {
    .partners__list {
        flex-wrap: wrap;
        gap: 7px;
    }
    .preview__img-container__apply {
        top: 10px;
        left: 10px;
    }
    .preview__img-container {
        height: 605px;
    }
    .bookYourPlace__text-container__button {
        font-size: 18px;
        line-height: 20px;
    }
    .bookYourPlace__text-container__title {
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 10px;
        br {
            display: none;
        }
        span {
            font-size: 80px;
            line-height: 60px;
            position: unset;
        }
    }
    .preview-title {
        margin-left: 20px;
    }
    .operatedBy-text {
        font-size: 15px;
        line-height: 20px;
    }
    .bookYourPlace__text-container__price--price sup {
        font-size: 35px;
        line-height: 24px;
    }
    .bookYourPlace__text-container__price--price {
        font-size: 18px;
    }
    .bookYourPlace {
        margin: 100px 0 70px;
    }
    .preview__img-container__list {
        top: 0;
    }
    .preview__img-container__list {
        ul {
            padding: 30px 30px;
            li {
                font-size: 16px;
                line-height: 12px;
            }
        }
    }
    .footer-comp {
        flex-direction: column-reverse;
    }
    .footer-creator {
        max-width: 130px;
        text-align: center;
    }
}