.footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 85px;
}

.footer-comp {
    display: flex;
    column-gap: 50px;
}

.footer-creator {}