.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header--navigation {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.logo-text {
    font-size: 16px;
    line-height: 24px;
}

.header--navigation__desktop {
    display: flex;
    align-items: center;
    column-gap: 51px;
}

.header--navigation__desktop-text {
    font-size: 16px;
    line-height: 24px;
}

.header--navigation__desktop-box {
    padding: 22px 23px;
    border: 1.5px solid var(--main-font-color);
    font-size: 18px;
    line-height: 24px;
}

@media (max-width:600px) {
    .logo {
        column-gap: 10px;
    }
    .logo-text {
        font-size: 12px;
        line-height: 20px;
    }
    .header--navigation__desktop {
        column-gap: 15px;
    }
    .header--navigation__desktop-text {
        font-size: 12px;
        line-height: 20px;
    }
    .header--navigation__desktop-box {
        padding: 19px 20px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width:400px) {
    .logo-img {
        width: 27px;
    }
    .logo {
        column-gap: 5px;
    }
    .header--navigation__desktop {
        column-gap: 0;
    }
    .header--navigation__desktop-box {
        padding: 15px 16px;
        font-size: 15px;
        line-height: 14px;
    }
    .logo-text,
    .header--navigation__desktop-text {
        font-size: 10px;
        line-height: 16px;
        width: fit-content;
    }
}